@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
   themes: dark --default, light ;
 }

 @plugin "daisyui/theme" {
   name: "dark";
   default: true;
  --color-primary: #FFCC00;
  /* --color-primary: #FBC421; */
  --color-secondary: #1A1A1D;
  --color-extra: #016A70;
}

.font-urbanist {
    font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}